@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*Design System*/
:root {
    color-scheme: light only;
    --bg-color: #f3f3f3;
    --red: #d2483d;
    --black: #000000;
    --white: #ffffff;
}
